.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.logo_simply {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #111111;
    text-decoration: none;
}

.logo_chocolate {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #111111;
    text-decoration: none;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 1280px) {

    .soc-conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navi-link-menu {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.02em;
        color: #111111;
    }

    .logo_simply,
    .logo_chocolate {
        font-weight: 700;
        font-size: 18px;
        line-height: 111%
    }

    .nav-item {
        position: relative;
    }

    .nav-list {
        gap: 24px;
        margin-left: auto;
    }

    .container-header {
        display: flex;
        justify-content: space-between;

    }

    .header-button {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
}


@media only screen and (min-width: 768px) {
    .container-header {
        display: flex;
    }

    .navigation {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navi-link-menu {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: -0.02em;
        color: #111111;
    }

    .navi-link-menu {
        white-space: nowrap;
    }
}

.soc_nets {
    display: none;
}

.nav-list {
    display: none;
}

.header-button {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    stroke-width: 2px;
    stroke: #111111;
}

.header-button-svg {
    display: block;
    fill: #111111;

}

@media only screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .header-button {
        display: none;
    }

    .nav-item {
        position: relative;
        list-style: none;
    }

    .soc_nets_item {
        position: relative;
        list-style: none;
    }

    .soc_nets {
        display: flex;
        margin: 0;
        justify-content: space-between;
        gap: 14px;
    }

    .soc_nets_link {
        border: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

    }

    .logo_simply,
    .logo_chocolate,
    .logo-icon {
        white-space: nowrap;
    }
}