.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 65px;
    }
}

.logo_simply {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #111111;
    text-decoration: none;
}

.logo_chocolate {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #111111;
    text-decoration: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (min-width: 1280px) {

    .logo_simply,
    .logo_chocolate {
        font-weight: 700;
        font-size: 18px;
        line-height: 111%
    }
}

.header-button {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}